@media screen and (max-width: 1500px) {
  .video {
    top: 47%;
  }
}
@media screen and (max-width: 1400px) {
  .add-margin-max {
    margin-top: 10px;
  }
  .video {
    top: 45%;
  }
}
@media screen and (max-width: 1300px) {
  .container,
  .centered-text {
    font-size: 30px;
  }
  .video {
    width: unset;
  }
  .mood-picker {
    font-size: 10px;
  }
  .mood-picker h3 {
    font-size: 20px;
  }
  .story-text {
    font-size: 10px;
  }
  .container {
    display: flexbox;
  }
  .storyboard {
    width: 100vw;
  }
  .title-text.centered {
    font-size: 25px;
  }
  .right-cent {
    font-size: 20px;
  }
  .form {
    margin-right: 8%;
    margin-left: 8%;
    width: 80%;
  }
  .story {
    font-size: 15px;
    margin: 10px;
    padding: 5px;
  }
}
@media screen and (max-width: 580px) {
  .story article {
    font-size: 16px;
  }
  .title-text.centered {
    font-size: 20px;
    margin-left: -10px;
  }
  .right-cent {
    font-size: 15px;
  }
  .form {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .centered-text {
    margin: 5px;
    font-size: 27px;
  }
  .mood-picker {
    font-size: 10px;
  }
  .story article {
    font-size: 15px;
  }
  .mood-picker {
    max-height: 30vh;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .right:last-child {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 500px) {
  .block {
    max-height: 30vh;
  }
  .mood-picker {
    height: 30%;
  }
  .add-margin {
    margin-top: 70px;
  }
}
@media screen and (max-width: 400px) {
  .flex-item {
    width: 35px;
    height: 35px;
    margin: 5px;
  }
  .flex-item i {
    font-size: 40px;
    justify-content: center;
  }
  .flex-item i.fa-laugh-wink {
    margin-left: -11px;
  }
  .flex-item i.fa-frown-open {
    margin-left: 5px;
  }
  .centered-text {
    font-size: 20px;
  }
  .right:last-child {
    margin-bottom: 150px;
  }
}
