.monthly-log{
        height: 100vh;
        width: 100vw;
        background-color: white;
         display: flex;
             flex-direction: row;
             justify-content:center;
             align-content: center; 
             box-sizing: border-box;
             margin-top:110px;
            .left-col, .right-col{
                 
                 
                 width: 50%;
                
                 h1{
                 font-family: 'Courier New', Courier, monospace;
                 font-size: 30px;
                 text-align:center;
                 margin:90px;
                 }
             }
             .left-col{
                background: #e7e4ec;
                float: left;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                text-align: center;
                overflow: hidden;
                position: relative;
                .calendar{
                    width: 500px;
                    height:500px;
                    background:#fff;
                    box-sizing:border-box;
                    box-shadow:0,5px,50px, rgba(0, 0, 0, .5);
                    margin:0 auto;
                    text-align: center; 
                    div.number.active,.date div.number:hover{
                        background:rgb(221, 192, 235);
                        color:#fff;
                        font-weight: 900;
                        cursor: pointer;
                    }
                    .date div.number:nth-child(7n)
                    {
                        color:red;
                    }
                    .date div.day:nth-child(7){
                        color:red;
                    }
                    .date div.day{
                        font-weight:700;
                    }
                    .image{
                        width: 100%;
                        height:100px;
                        padding:30px;
                        box-sizing:border-box;
                        background-color: rgb(221, 192, 235);
                        h2, h3{
                    font-family: 'Courier New', Courier, monospace;
                }
            }
            .date{
                padding:30px;
                display:grid;
                grid-template-columns: repeat(auto-fit,minmax(35px, 1fr));
                grid-gap:25px;
                box-sizing:border-box;
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height:25px;
                    color:#262626
                }
            
            
            }
                }
                  }
                  .right-col{
    
                    align-items: center;
                    justify-content: center;
                    background-image: url(../img/sky.jpg);
                    background-size: cover;
                    float:right;
                    overflow:hidden;
                    position: relative;
                    text-align:center;
                
                    .caption{
                    position:absolute;
                    top:0;
                    left:-1000px;
                    width: 100%;
                    height:100%;
                    background:rgb(231, 228, 236);
                    transition: 0.7s;
                    text-align:center;
                    .content{
                        position: relative;
                        top:21%;
                        color:black;
                        h2{
                        
                            position: relative;
                            margin-top:-15px;
                            top:21%;
                            color:black;
                            font-family: 'Courier New', Courier, monospace;
                       
                            
                        }
                        h1{
                            position: relative;
                            font-family: 'Courier New', Courier, monospace;
                        }
                        i{
                            margin:30px;
                        }
                        ul{
                            position: relative;
                            top:21%;
                            color:#fff;
                        
                        }
                    
                    }
                    }
                    
                    &:hover .caption{
                        left:0px; 
                            
                    }   
                   
                }
                
                
                #quote1{
                    padding-top: 90px;
                }
                #qiute2{
                    padding-bottom: 90px;
                    bottom:30px;
                }
                  
    
}
